<div class="container">
  <h1>Crear</h1>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <input
          type="text"
          placeholder="Agregar nombre"
          class="form-control my-2"
          formControlName="nombre"
      >
      <input
          type="text"
          placeholder="Agregar descripcion"
          class="form-control my-2"
          formControlName="descripcion"
      >
      <input
          type="file"
          class="form-control my-2"
          (change)="uploadFile($event)"
      >
      <button
          class="btn btn-success btn-block"
          type="submit"
      >
          Agregar
      </button>
      <a
          class="btn btn-primary btn-block mx-2"
          [routerLink]="['/home']" routerLinkActive="router-link-active"
      >
          Volver
      </a>
  </form>
</div>
