<%- include("template/header", {tituloWeb: 'Página de Error'}) %>
    <div class="container">
        <div class="row mt-3">
            <div class="col"></div>
            <div class="col">
                <div class="card text-center" style="width: 18rem;">
                    <div class="card-body">
                      <h5 class="card-title"><%= titulo %></h5>
                      <p class="card-text"><%= descripcion %></p>
                      <a href="/" class="btn btn-primary">Ir a Inicio</a>
                    </div>
                </div>
            </div>
            <div class="col"></div>
        </div>
    </div>
<%- include("template/footer") %>